graph {
		fill-color: #34495e ;
}

node {
	text-style: bold;
	text-color:    #28b463  ;
	fill-color:    #28b463  ;
	text-size: 12;
	text-background-mode: plain;
	size: 10px, 15px;
	shape: box;
	z-index: 2;
}

edge{
	fill-color: #3498db;
}
